<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>NEWMESSAGES</servlet-name>
        <servlet-class>NEWMESSAGES</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NEWMESSAGES</servlet-name>
        <url-pattern>/NEWMESSAGES</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ALLMESSAGES</servlet-name>
        <servlet-class>ALLMESSAGES</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ALLMESSAGES</servlet-name>
        <url-pattern>/ALLMESSAGES</url-pattern>
    </servlet-mapping>
</web-app>